services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: kidtasks
      POSTGRES_USER: kidtasks
      POSTGRES_PASSWORD: kidtasks
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    volumes:
      - ./backend:/app
    environment:
      DATABASE_URL: postgresql://kidtasks:kidtasks@postgres:5432/kidtasks
      SECRET_KEY: "09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7"
      ALGORITHM: "HS256"
      ACCESS_TOKEN_EXPIRE_MINUTES: 30
      OPENAI_API_KEY: ${OPENAI_API_KEY}
    ports:
      - "8000:8000"
    depends_on:
      - postgres

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/.nuxt
    ports:
      - "3000:3000"
    environment:
      NUXT_PUBLIC_API_BASE: http://localhost:8000
      HOST: 0.0.0.0
      CHOKIDAR_USEPOLLING: "true" # Включаем polling для лучшего определения изменений в файлах
      WATCHPACK_POLLING: "true"    # Для webpack/vite file watching в Docker
    depends_on:
      - backend

volumes:
  postgres_data: