[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
pydantic-settings = "*"
email-validator = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.11"
